.logo {
    height: 75px;
    float: left;
}

.hero-container {
    background-color: #373737;
    height: 400px;
}

.hero-logo {
    height: 400px;
}
.hero-text {
    color: white;
    margin:20px 0 20px 0;
    font-size:1.7rem;
    letter-spacing:3px;
    line-height: 1.2;
    padding-left: 20px;
}

.hero-cta {
    margin:20px 40px 20px 0;
    font-size:1.7rem;
    background-color: #AA0000;
    padding: 20px;
}