.logo {
    height: 75px;
    float: left;
}

.hero-container {
    background-color: #373737;
    height: 400px;
}

.hero-logo {
    height: 400px;
}
.hero-text {
    color: white;
    margin:20px 0 20px 0;
    font-size:1.4rem;
    letter-spacing:3px;
    line-height: 1.2;
    padding-left: 60px;
}

.hero-text li{
   padding: 10px 0;
    list-style: none;
}

.hero-image {
    z-index: 1;
    height: 400px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat
}
.overlay::after {
    background-color: rgba(55,55,55,.35);
}
.hero-cta {
    margin:20px 20px 20px 0;
    font-size:1.7rem;
    background-color: #AA0000;
    padding: 20px 0px 20px 20px;
}

#video_1 {
    margin: 0 auto;
}

.red-cell {
background-color: red;
color: white;
font-weight: bold;
}

.green-cell {
background-color: green;
color: white;
font-weight: bold;
}